.form
  = form_for [@group, @message] do |f|
    .form__mask
      = f.text_field :content, placeholder: "type a message",class: "form__text"
      = f.label :image, class: "form__upload-icon" do
        = fa_icon 'picture-o', class: "form__icon"
        = f.file_field :image, class: "form__file"
    = f.submit 'Send', class: "form__submit"
